{% extends "layout.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<div class="testbox">
  <form action="/">
    <div class="banner">
      <h1>Thanh Toán Học Phí</h1>
    </div>
    <div class="item">
      <p>Họ và tên</p>
      <div class="name-item">
        <input id="fnameTb" type="text" name="name" placeholder="" />
      </div>
    </div>
    <div class="item">
      <p>Email</p>
      <input id="emailTB" type="text" name="name"/>
    </div>
    <div class="item">
      <p>Số điện thoại</p>
      <input id="phoneTb" type="text" name="name"/>
    </div>
    <div class="item">
      <p>Số dư trong tài khoản</p>
      <input id="balance" type="text" name="name" disabled/>
    </div>
    <hr>
    <hr>
    <hr>
    <div class="item">
      <p>Mã Số SV</p>
      <input id="stIdTb" onkeyup="calFee(event)" type="text" name="name"/>
    </div>
    <div class="item">
      <p>Số tiền cần đóng</p>
      <input id="stdFee" type="text" name="name"/>
    </div>
    <div class="btn-block">
      <div id="otp_button" style="cursor: pointer;;padding:5px;width: max-content;border-radius: 4px;box-shadow: gray 0px 0px 2px 2px;" onclick="recieveOTP()">Get OTP</div>
    </div>
    <div class="item">
      <p>Nhập OTP</p>
      <input style="width: 100px !important;" id="stdFee" type="text" name="name"/>
    </div>
    <div class="btn-block">
      <button type="submit" href="/">Gửi</button>
    </div>
  </form>
</div>
{% endblock %}

<script>


</script>